a[href^="http"] {
    color: #f70;
}

a[href*="google"] {
    color: #666;
}

a[target="_blank"]:after {
    content: "\21f1";
    display: inline-block;
    transform: scaleX(-1);
    margin-left: 5px;
    text-decoration: none;
}

/* как вариант
a[href$=".ru"] {
color: #f70;
}

a[href$=".com"] {
    color: #666;
} */