* {
    margin: 0;
    padding: 0;
}
.parent {
    background: #fff;
    font-family: 'Trebuchet MS', sans-serif;
    text-align: center;
    margin: 0 auto;
    max-width: 1400px;
    height: 700px;
}
.tittle {
    font-size: 30px;
    color: #41525c;
    text-transform: uppercase;
    margin-bottom: 50px;
    padding-top: 60px;
}

/* Left */

.pricing_left {
    position: relative;
    background: inherit;
    display: inline-block;
    width: 290px;
    border: 1px solid #e8eaec;
    border-radius: 5px;
    left: 7px;
    z-index: 1;
}

.tittle_left {
    background: #37c2d3;
    border-radius: 5px 0 0 0;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    padding: 17px 0;
    margin: 0;
}

.iconic {
    font-weight: normal;
    font-size: 24px;
    color: #3f4042;
    text-transform: uppercase;
    margin: 23px 0 0;
}

.price {
    font-weight: bold;
    font-size: 72px;
    color: #35495a;
    margin: 15px 0 0;
}

.price sup {
    font-size: 26px;
    color: #35495a;
    position: relative;
    bottom: 12px;
}

.price sub {
    font-weight: normal;
    font-size: 18px;
    color: #35495a;
    position: relative;
    right: 5px;
    bottom: 5px;
}

.list ul {
    display: table;
    list-style: none;
    font-size: 15px;
    color: #888c94;
    padding: 0;
    text-align: left;
    margin: 18px auto;
}

.list_left li {
    padding: 0 51px;
    line-height: 2;
}

.list ul li:nth-child(odd) {
    background: #edf5fd;
}

.list ul li:nth-child(even) {
    background: #f5f5f6;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.list ul li>img {
    position: relative;
    top: 3px;
    right: 12px;
}

.button_lr button{
    position: relative;
    background: #3371a6;
    font-weight: bold;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    border: none;
    padding: 10px 68px;
    border-radius: 5px;
    box-shadow: -1px 0 1px #a5bccf, 0 3px 1px #16436a;
    margin-bottom: 23px;
}

.button_lr button:active {
    box-shadow: inset 0 0 4px 2px #16436a;
    top: 0.1em;
    left: 0.1em;
}

/* Center */

.pricing_center {
    position: relative;
    display: inline-block;
    background: inherit;
    width: 288px;
    border: 4px solid #ee8129;
    border-radius: 5px;
    box-shadow: 0 0 7px 2px #cbe2ef;
    z-index: 2;
}

.tittle_center {
    background: #ee8129;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    padding: 22px 0;
    margin: 0;
    text-align: center;
}

.list_center li {
    padding: 0 48px;
    line-height: 2;
}

.button_center button {
    position: relative;
    background: #ee8129;
    font-weight: bold;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    border: none;
    padding: 10px 68px;
    border-radius: 5px;
    box-shadow: -1px 0 1px #edc3a1, 0 3px 1px #b3560b;
    margin-bottom: 35px;
}

.button_center button:active {
    box-shadow: inset 0 0 4px 2px #b3560b;
    top: 0.1em;
    left: 0.1em;
}

/*.list_center  {*/
/*display: table;*/
/*list-style: none;*/
/*font-size: 15px;*/
/*color: #888c94;*/
/*padding: 0;*/
/*text-align: left;*/
/*margin: 18px auto;*/
/*}*/

/*.list_center li:nth-child(odd) {*/
/*background: #edf5fd;*/
/*}*/

/*.list_center li:nth-child(even) {*/
/*background: #f5f5f6;*/
/*border-top: 1px solid #fff;*/
/*border-bottom: 1px solid #fff;*/
/*}*/

/*.list_center li>img {*/
/*position: relative;*/
/*top: 3px;*/
/*right: 12px;*/
/*}*/

/* Right */

.pricing_right {
    position: relative;
    display: inline-block;
    background: inherit;
    width: 287px;
    border: 1px solid #e8eaec;
    border-radius: 5px;
    right: 7px;
    z-index: 1;
}

.tittle_right {
    background: #1cb79a;
    border-radius: 0 5px 0 0;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    padding: 17px 0 16px 0;
    margin: 0;
}

.list_right li {
    padding: 0 42px;
    line-height: 2;
}

/*.list_right  {*/
    /*display: table;*/
    /*list-style: none;*/
    /*font-size: 15px;*/
    /*color: #888c94;*/
    /*padding: 0;*/
    /*text-align: left;*/
    /*margin: 18px auto;*/
/*}*/

/*.list_right li:nth-child(odd) {*/
    /*background: #edf5fd;*/
/*}*/

/*.list_right li:nth-child(even) {*/
    /*background: #f5f5f6;*/
    /*border-top: 1px solid #fff;*/
    /*border-bottom: 1px solid #fff;*/
/*}*/

/*.list_right li>img {*/
    /*position: relative;*/
    /*top: 3px;*/
    /*right: 12px;*/
/*}*/