* {
    margin: 0;
    padding: 0;
}

.search {
    font-size: 14px;
    font-family: sans-serif;
    margin: 50px auto;
    width:31%;
    position: relative;
    height: 54px;
    background: linear-gradient(to top, #efbe4d, #feca53);
    min-width: 210px;
}

.search_text {
    outline: none;
    border: none;
    width: calc(100% - 115px);
    height: 26px;
    margin: 5px 0 2px 4px;
    padding-left: 10px;
    box-shadow: 0 0 2px #a3a3a3 inset;
}

.search_link {
    color: #000;
    text-decoration: none;
    border-bottom: 1px dotted #000;
}

.search p {
    margin-left: 4px;
}

.button {
    font-size: 15px;
    width: 67px;
    height: 26px;
    border-radius: 3px;
    border: 1px solid #a3a3a3;
    box-shadow: 0 0 1px #a3a3a3;
}

.button:hover {
    cursor: pointer;
    color: #ffcc66;
}

.button:active {
    box-shadow: 0 0 2px #a3a3a3 inset;
}

.search::after {
    content: "";
    border-style: solid;
    border-color: #fff transparent #fff transparent;
    border-width: 27px 0 27px 15px;
    position: absolute;
    top: 0;
    right: 0;
}
